.correct-answer {
  background-color: rgba(0, 90, 0, 0.8) !important;
  border-color: rgba(0, 90, 0, 1) !important;
  color: white;
}

.wrong-answer {
  background-color: rgb(255, 0, 0, 0.8) !important;

  color: white;
}

.answer-option {
  text-align: center;
  background-color: rgba(35, 35, 35, 0.25);
  transition: box-shadow 100ms;
}